<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h2 class="text-6xl font-bold text-gray-800 ml-20 mb-8 mt-32 self-start">
        About My Projects
      </h2>
      <p
        class="text-xl text-gray-600 mb-8 self-start leading-relaxed ml-20 mr-20 indent-8"
      >
        These are some of my personal and professional projects that I have worked
        on. Each project demonstrates a specific skill set, such as web design,
        Blender modeling, and UI/UX design in Figma. Feel free to explore and
        hare your thoughts!
      </p>
      <hr class="border-t-2 border-black w-[95%] mb-8 mx-auto" />
  </body>
</html>
